################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SE245-VS/FileContentIndex/2d63ccc8-3063-49d2-a3fb-9c64dcd8411b.vsidx
