################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SE245-VS/FileContentIndex/2d63ccc8-3063-49d2-a3fb-9c64dcd8411b.vsidx
/.vs/SE245-VS/FileContentIndex/55a361de-9198-45e7-906d-ad218966421c.vsidx
/WindowsFormsEBook/.vs/WindowsFormsEBook/FileContentIndex/62fe45d3-dd06-444d-abb1-f97aa8958094.vsidx
/WindowsFormsEBook/.vs/WindowsFormsEBook/FileContentIndex/6d2c854e-a0f8-4059-ab7f-30f0170e7f6d.vsidx
/WindowsFormsEBook/.vs/WindowsFormsEBook/FileContentIndex/19602f58-6f54-4100-864a-b060a3580451.vsidx
